.wonderful {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  height: 587px;
}

.wonderful .h1-box {
  background: #e4e3e4;
  border-radius: 10px;
  width: 428px;
  height: 587px;
  padding: 64px 54px 280px 54px;
  transform-origin: center 18vh;
}

.wonderful .h1-wrap {
  margin: auto;
  background: #ffffff;
  width: 100%;
  padding: 20%;
  border-radius: 30px;
}

.wonderful .h1-wrap > img {
  display: block;
  width: 100%;
}
.lines {
  position: relative;
}
.line1,
.line2,
.line3 {
  position: absolute;
  right: 0;
  top: 50px;
}
.line1 {
  width: 60px;
  height: 10px;
  top: 50px;
  background: #c6c5c7;
}
.line2 {
  width: 200px;
  height: 10px;
  top: 55px;
  background: #454345;
}
.line3 {
  width: 60px;
  height: 10px;
  top: 60px;
  background: #454345;
}

.loading {
  font-size: 50px;
  animation: resize 1s infinite;
}

@keyframes resize {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  to {
    transform: scale(0.1);
  }
}
